.pageInnerContent{
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 1em;
}

.sectionTitle{
    padding-bottom: 2em;
    margin-top: 3em;
}

.sectionTitle h3{
    text-align: center;
    font-size: 1.8em;
    
}

.sectionTitle .underline{
    width: 150px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 4px auto 0 auto;
}
